{% load static %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    </head>
<body>

<div class="file-upload">
  <div class="file-select">
      <form action="/detect_face" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
    {{form.as_p}}
    <button type="submit" name ="upload">Upload</button>
</form>
{% if obj %}
<h3>Uploaded Image</h3>
<img src="{{obj.img.url}}" alt="image" class="img-thumbnail" height="50%" >
<h3>Faces present in the image: </h3>
{% for x in posts %}
      <img src="{{x.images.url}}">
{% endfor %}
{% if faces %}
<h3>Similar Faces</h3>
{% for x in faces %}
      <img src="{{x}}">
{% endfor %}
{% endif %}
{% endif %}
{% if alert %}
<h3>{{alert}}</h3>
{% endif %}
{% if time %}
<h5>{{time}}</h5>
{% endif %}
</div>
</div>
</body>
</html>